<div class="d-flex">
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="stepper">
    <mat-step [stepControl]="newUserForm" label="Registration">
      <form [formGroup]="newUserForm" class="d-inline-grid mt-20">

        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Email" required formControlName="email" aria-label="email">
          <mat-error *ngIf="newUserForm.controls.email.errors?.required">This field is required!</mat-error>
          <mat-error *ngIf="newUserForm.controls.email.errors?.email">Incorrect value!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" aria-label="password">
          <mat-error *ngIf="newUserForm.controls.password.errors">This field is required!</mat-error>
          <button mat-icon-button matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="buttons-box">
          <button mat-raised-button color="primary"
                  [disabled]="!newUserForm.valid"
                  matStepperNext
                  (click)="createUser()">
            Next
          </button>
          <button mat-raised-button routerLink="/auth/login">Already Have An Account?</button>
        </div>

      </form>

    </mat-step>
    <mat-step [stepControl]="emailConfirmation" label="Confirmation">
      <form [formGroup]="emailConfirmation" class="d-inline-grid">

        <mat-form-field appearance="fill">
          <mat-label>Enter your code</mat-label>
          <input matInput placeholder="Code" required formControlName="code" aria-label="code">
          <mat-error *ngIf="emailConfirmation.controls.code.errors">This field is required!</mat-error>
        </mat-form-field>

        <div class="buttons-box">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext (click)="confirmEmail()">Next</button>
        </div>

      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
