.stepper {
  text-align: center;
  width: 30%;
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 10px;
}

.buttons-box {
  display: flex;
  justify-content: space-around;
}

.mat-form-field {
  margin-bottom: 5px;
  color: white;
}

.mat-icon {
  color: white;
}
