<mat-toolbar color='primary'>
  <nav>
    <a routerLink="/" class="header">Finca Project</a>
    <a routerLink="/categories" class="header">Categories</a>
    <a routerLink="/transactions" class="header">Transactions</a>
  </nav>
  <div class="auth-box">
    <button mat-icon-button (click)='createAccount()'>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
